<div class="medicineCategory-form-container">
    <div class="medicineCategory-form-header">
        <h1 class="mat-headline-4">{{ isEditMode ? 'Edit' : 'New' }} Medicine Category</h1>
        <button mat-button color="primary" (click)="cancel()">
            <mat-icon>arrow_back</mat-icon> Back to Medicine Category
        </button>
    </div>

    <div *ngIf="isLoading" class="loading-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <form *ngIf="!isLoading" [formGroup]="medicineCategoryForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-content>

                <div class="form-row-mode">
                    <!-- medicine Category Name -->
                    <mat-form-field appearance="outline">
                        <mat-label>Category Name</mat-label>
                        <input matInput formControlName="categoryName" required />
                        <mat-error *ngIf="medicineCategoryForm.get('categoryName')?.hasError('required')">
                            Category name is required
                        </mat-error>
                    </mat-form-field>

                  
                    <!-- Active Checkbox -->
                    <div class="checkbox-field">
                        <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                    </div>
                </div>

                <div class="form-row">
                    <!-- Description -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" rows="2"></textarea>
                    </mat-form-field>
                </div>

            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-button type="button" (click)="cancel()">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="medicineCategoryForm.invalid">
                    {{ isEditMode ? 'Update' : 'Save' }} Medicine Category
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

</div>