<div class="procedure-form-container">
    <div class="procedure-form-header">
        <h1 class="mat-headline-4">{{ isEditMode ? 'Edit' : 'New' }} procedure</h1>
        <button mat-button color="primary" (click)="cancel()">
            <mat-icon>arrow_back</mat-icon> Back to procedures
        </button>
    </div>

    <div *ngIf="isLoading" class="loading-spinner">
        <mat-spinner></mat-spinner>
    </div>

    <form *ngIf="!isLoading" [formGroup]="procedureForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-card-content>

                <div class="form-row">
                    <!-- procedure Name -->
                    <mat-form-field appearance="outline">
                        <mat-label>Procedure Name</mat-label>
                        <input matInput formControlName="procedureName" required />
                        <mat-error *ngIf="procedureForm.get('procedureName')?.hasError('required')">
                            Procedure name is required
                        </mat-error>
                    </mat-form-field>

                     <!-- Fee -->
                    <mat-form-field appearance="outline">
                        <mat-label>Fee</mat-label>
                        <input matInput type="number" placeholder="e.g., 500"
                            formControlName="fee" />
                    </mat-form-field>

                    <!-- TaxRate -->
                    <mat-form-field appearance="outline">
                        <mat-label>Tax Rate (%)</mat-label>
                        <input matInput type="number" formControlName="taxRate" placeholder="e.g., 15" />
                    </mat-form-field>

                    <!-- Active Checkbox -->
                    <div class="checkbox-field">
                        <mat-checkbox formControlName="isActive">Active</mat-checkbox>
                    </div>
                </div>

                <div class="form-row">
                    <!-- Description -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" rows="2"></textarea>
                    </mat-form-field>
                </div>

            </mat-card-content>

            <mat-card-actions align="end">
                <button mat-button type="button" (click)="cancel()">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="procedureForm.invalid">
                    {{ isEditMode ? 'Update' : 'Save' }} procedure
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

</div>