.doctor-form-container {
  padding: 20px;
}

.doctor-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1;
    min-width: 200px;
  }
}

.form-row-mode {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1; /* Default width for all fields */
    min-width: 150px;
  }

  /* Make specific ones wider or smaller */
  mat-form-field:first-child, /* First Name */
  mat-form-field:nth-child(2) { /* Last Name */
    flex: 2; /* Twice the width of Gender */
  }

  mat-form-field:nth-child(3) { /* Gender */
    flex: 1; /* Smaller width */
    min-width: 150px;
  }
}




.full-width {
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .doctor-form-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .form-row {
    flex-direction: column;
    gap: 0;
  }
}