
::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #4280c8; 
}

.scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1; 
}