<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-12 col-xl-12">
        <mat-card>
          <div class="rounded-top text-white d-flex flex-row"
            style="background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(17,17,54,1) 1%, rgba(8,122,163,1) 85%, rgb(32, 12, 130) 100%); height:180px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <!--  -->
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image"
                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
              <button type="button" class="btn btn-outline-dark matListItemTitle" data-mdb-ripple-color="dark"
                style="z-index: 1;">
                <span matListItemTitle class="f-s-16 f-w-600 ">Edit Profile</span>
              </button>
            </div>
            <div class="ms-3" style="margin-top: 120px;">
              <mat-list-item lines="2" class="mat-body-1">
                <span matListItemTitle class="f-s-20 f-w-600 text-white">Jayaraj C J</span>
                <span class="mat-body-1 f-s-14 text-white">Developer</span>
              </mat-list-item>
            </div>
          </div>
          <div class="p-3 " style="background-color: whitesmoke;">
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <mat-list-item lines="2" class="mat-body-1">
                  <span matListItemTitle class="f-s-14 f-w-600 ">8945612388</span>
                  <span class="mat-body-1 f-s-12 f-w-500 ">Mobile No </span>
                </mat-list-item>
              </div>
              <div class="px-3">
                <mat-list-item lines="2" class="mat-body-1">
                  <span matListItemTitle class="f-s-14 f-w-600 ">admin123*gmail.com</span>
                  <span class="mat-body-1 f-s-12 f-w-500">Email </span>
                </mat-list-item>
              </div>
            </div>
          </div>
          <div class="card-body p-4 mat-body-1 ">
            <div class="d-flex justify-content-between align-items-center mb-4 mt-2">
              <span matListItemTitle class="f-s-16 f-w-600 ">Recent Photos</span>
            </div>
            <div class="row g-2">
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
              <div class="col mb-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
            </div>
            <div class="row g-2">
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp" alt="image 1"
                  class="w-100 rounded-3">
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</section>