.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-toolbar {
  position: fixed;
  z-index: 2;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.app-sidenav-container {
  flex: 1;
  margin-top: 64px; /* Height of toolbar */
}

.app-sidenav {
  width: 250px;
}

.app-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .app-sidenav-container {
    margin-top: 56px; /* Smaller toolbar height on mobile */
  }
}

.m-r-8{
  margin-right: 20px;
}


.spacer {
  flex: 1 1 auto;
}

.chevron-inline {
  font-size: 18px;
  opacity: 0.6;

  /* MICRO ADJUSTMENT */
  position: relative;
  left: 10px;   /* move right */
  top: 2px;    /* move down */
}


.chevron {
  transition: transform 0.2s ease;
}

.reports-open .chevron {
  transform: rotate(180deg);
}

.reports-title {
  display: inline-flex;
  align-items: center;
  gap: 6px; /* spacing between text and chevron */
}

.chevron-inline {
  font-size: 18px;
  opacity: 0.6;
  line-height: 1;
}

/* Child indentation exactly like Material docs */
.child-item {
  padding-left: 56px !important;
}

/* Keep same height */
a.mat-list-item {
  height: 48px;
}


.child-item {
  padding-left: 16px !important;   /* keep normal */
}

.child-item mat-icon {
  margin-left: 24px;   /* indent icon only */
  margin-right: 16px;
}
