<h2 mat-dialog-title matListItemTitle>Change Password
  <button mat-icon-button mat-dialog-close aria-label="Close" style="float: right;margin-top: 5px;">
    <mat-icon>close</mat-icon>
  </button>
</h2>
<mat-dialog-content class="mat-typography ">
  <div class=" justify-content-center align-items-center ">
    <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
      <div class="col-lg-12 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth" style="margin-top: 1px;">
          <mat-card-content class="p-32">
            <form class="m-t-5" [formGroup]="form">

              <div class="form-row">
                <mat-form-field appearance="outline">
                  <mat-label>Old Password</mat-label>
                  <input matInput formControlName="oldPassword" required>
                  <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
                    Old Password is required
                  </mat-error>
                </mat-form-field>
              </div>

               <div class="form-row">
                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input matInput formControlName="newPassword" required>
                  <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
                    New Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </form> 
           
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="submit()" mat-flat-button color="primary">Save</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial style="margin-right: 15px;">Close</button>
</mat-dialog-actions>