.custom-input-width {
    width: 100%;
    width: 400px!important;
    max-width: 500px!important;
  }

  .form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1;
    min-width: 450px;
  }
}